@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: #4db6ac;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #4db6ac;
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
